@import url('stylesMain.css');

/*Normalización*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Comunes*/
html{                        /*El tamaño de los navegadores por defecto son 16px*/
    font-size: 65%;          /*De esta manera el valor del navegador es de 10px*/
}


/*Variables*/
:root{
    /*Fuentes (min 426px)*/
    --text1: 9px;
    --text1-1: 8px;
    --text2: 10px;
    --text2-1: 9px;
    --text3: 15px;
    --text3-1: 14px;
}

/*Body*/
.text-alt{
    width: 90%;
    margin: auto;
}


/*main*/
.principal{
    width: 90%;
    display: flex;
    justify-content: center;
    background-image: url("../img/bicycle-g00fa52754_1280.jpg");
    background-position: center;
    background-size: cover;
}
.container_form{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #ccccff;
    border-radius: 8px;
    padding: 20px;
    opacity: 0.9;
    margin: 40px;
    font-size: 14px;
}
.titulo-icon i{
    display: flex;
    justify-content: center;
    color: #050A30;
    margin-bottom: 10px;
    font-size: 60px;
}
.titulo{
    font-size: 25px;
    margin-bottom: 20px;
}
.div{
    line-height: 20px;
    width: 100%;
}
.div input{
    width: 100%;
    border-radius: 5px;
}
.check{
    margin: 8px 0px;
    font-size: 10px;
}
.button{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #050A30;
    color: white;
    font-size: 14px;    
    padding: 5px;
    margin: 15px 0px;
}
.check{
    font-size: 10px;
}
.obligatorio{
    text-align: right;
    font-size: 12px;
    margin: 20px 0px;
}

/*@media------------------------------------------------------------------------*/
@media (min-width: 769px){
    .container_form{
        width: 50%;
        margin: 60px 0px;
        font-size: 18px;
    }
    .titulo-icon i{
        font-size: 90px;
    }
    .div{
        line-height: 26px;
    }
    .check{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        font-size: 15px;
    }
    .button{
        font-size: 18px;
    }
}