<%- include("../partials/head.ejs") %>
    <title>Error 404</title>
    <style>
        h1{
            display: flex;
            padding: 200px;
            align-items: center;
            justify-content: center;
            color: red;
        }
    </style>
</head>
<body>
    <h1>¡Error! la pagina que buscas no se encuentra</h1>
</body>
</html>