<!--head-->
<%- include("../partials/head.ejs") %>

    <title>Producto</title>
    <link rel="stylesheet" href="/css/stylesproduct.css" type="text/css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="margenes"></div>
        <section class="descripcion">

            <section class="principalproducto">
                <section class="imagenesproducto">
                    <div class="img-principal">
                        <img src="/img/OrbeaOccamTR 2018.jpg" alt="img-principal">
                    </div> 
                    <div class="otrasfotos">
                        <div class="minifoto"><img src="/img/OrbeaOccamTR 2018.jpg" alt="img-principal"></div>
                        <div class="minifoto"><img src="/img/OrbeaOccamTR 2018.jpg" alt="img-principal"></div>
                        <div class="minifoto"><img src="/img/OrbeaOccamTR 2018.jpg" alt="img-principal"></div>
                    </div>
                </section>
                <section class="productodetalles">
                    <section class="nombre">Nombre del producto en Venta. </section>
                    <section class="precio">$ 0'000.000.00</section>
                    <section class="colores">
                            <div class="color"><img src="/img/azul.jpg" alt="color"></div> 
                            <div class="color"><img src="/img/negro.png" alt="color"></div>
                            <div class="color"><img src="/img/rojo.png" alt="color"></div>
                            <div class="color"><img src="/img/amarillo.jpg" alt="color"></div>
                    </section>
                    <section class="pago">pago</section>    
                </section>
            </section>
            <section class="especificaciones">
                <div class="subespecificaciones"><h2 class='titulitos'>ESPECIFICACIONES</h2><hr size="2px" width="80%" align="left" color="black" /> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, enim! Aspernatur debitis blanditiis similique repudiandae inventore odio aliquam minus dolorem voluptatibus, dolores, quibusdam, quis soluta maiores quam itaque eos recusandae.      </p>> </div>
                <div class="subespecificaciones"><h2 class='titulitos'>GARANTÍA</h2><hr size="2px" width="80%" align="left" color="black" /> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsum officia, nihil repudiandae veritatis explicabo, quaerat ut veniam odit necessitatibus error officiis sint corrupti incidunt voluptas corporis consequuntur. Alias, ipsum.</p>p></div>
            </section>
        </section>
        <div class="margenes"></div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>