<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<footer>
    <div class="footer-list">
        <ul>
            <div>
                <a href="/"><img src="/img/DevBiker1.png" alt="Logo-DevBiker"></a>
            </div>
            <div class="social-media">
                <section >
                    <i class="fas fa-envelope-square"></i>
                </section>
                <section>
                    <i class="fab fa-facebook-square"></i>
                </section>
                <section>
                    <i class="fab fa-instagram-square"></i>
                </section>
                <section>
                    <i class="fab fa-whatsapp-square"></i>
                </section>
            </div>
        </ul>
        <ul>
            <h4>Acerca DevBiker</h4>
            <li>¿Quienes somos?</li>
            <li>Convenios</li>
            <li>Preguntas frecuentes</li>
            <li>Terminos y condiciones</li>
        </ul>
        <ul>
            <h4>Soporte</h4>
            <li>Contacto</li>
            <li>Garantia</li>
            <li>Devoluciones</li>
            <li>Servicio al cliente</li>
        </ul>
    </div>
    <div>
        <p class="copyright">Copyright © 2022 DevBiker</p>
    </div>
</footer>
