<head>
    <link rel="stylesheet" href="/css/navCategorias.css">
</head>
<div class="nav-categorias">
    <a href="/products" class="titulo-nav">
        <h2>Categorias</h2>
    </a>
    <ul class="lista-categorias">
        <a class="montana" href="/products/cMontana"><li>Montaña</li></a>
        <a class="urbana" href="/products/cUrbana"><li>Urbana</li></a>
        <a class="ruta" href="/products/cRuta"><li>Ruta</li></a>
        <a class="bmx" href="/products/cBmx"><li>BMX</li></a>
    </ul>
</div>